@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* These styles were added to improve the appearance of the example pages.
* It is safe to delete them, and they are not intended to be used by Refine components.
*/

@layer base {
  input, .main-input {
    @apply flex items-center h-12 w-full rounded-md bg-[#303030] outline-none border border-input text-white px-3 py-2 text-white focus:border-[#EE5736]
  }

  input[type="submit"] {
    @apply bg-[#EFEFEF];
  }

  h1 {
    @apply text-2xl font-bold my-6;
  }

  ul {
    @apply list-disc my-4;
  }

  a {
    @apply text-blue-700 underline;
  }

  label {
    @apply text-sm font-medium text-[#FFFFFF61];
  }

  body {
    @apply m-0 bg-white;
  }

  table {
    @apply border border-black border-collapse;
  }

  table th,
  table td {
    @apply m-0 p-2 border-b border-r border-black;
  }

  table tr:last-child td {
    @apply border-b-0;
  }

  table th:last-child,
  table td:last-child {
    @apply border-r-0;
  }

  .layout {
    @apply flex gap-4;
  }

  @media (max-width: 751px) {
    .layout {
      @apply block;
    }
  }

  .layout .content {
    @apply flex flex-col flex-grow;
  }

  .breadcrumb {
    @apply flex gap-6 p-2 px-4 border-b border-gray-300;
    list-style-type: "/ ";
  }

  .breadcrumb a {
    @apply text-blue-700 no-underline;
  }

  .menu {
    @apply flex-shrink-0 p-2 pr-4 border-r border-gray-300;
  }

  .menu a {
    @apply text-black;
  }

  .menu .active {
    @apply font-bold;
  }

  body {
    @apply bg-background text-white;
  }

  .main-btn {
    @apply !rounded-full border-0 !h-[46px] w-full font-sfpro-rounded !text-base !font-semibold
  }

  .main-container {
    @apply mt-[57px] p-5 overflow-x-hidden
  }

  .main-container-home {
    @apply mt-[57px] py-5 overflow-x-hidden
  }

  .main-heading {
    @apply font-bold text-[25px] leading-[29px]
  }

  .btn-footer {
    @apply fixed bottom-0 w-full p-5 left-0 bg-background
  }

  @media (max-width: 751px) {
    .menu {
      @apply border-r-0 border-b border-gray-300;
    }
  }

  .menu ul {
    @apply pl-4;
  }
  :root {
    --background: 0 0% 5%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 0 0% 16%; /* 214.3 31.8% 91.4% */
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family:'SF Pro';
  src: url('./fonts/SF Pro/sf-pro-text_light.woff2') format('woff2'),
      url('./fonts/SF Pro/SFProTHDisplay_light.woff2') format('woff2');
  font-weight:300;
}

@font-face {
  font-family:'SF Pro';
  src: url('./fonts/SF Pro/sf-pro-text_regular.woff2') format('woff2'),
      url('./fonts/SF Pro/SFProTHDisplay_regular.woff2') format('woff2');
  font-weight:400;
}

@font-face {
  font-family:'SF Pro';
  src: url('./fonts/SF Pro/sf-pro-text_semibold.woff2') format('woff2'),
      url('./fonts/SF Pro/SFProTHDisplay_semibold.woff2') format('woff2');
  font-weight:600;
}

@font-face {
  font-family:'SF Pro Rounded';
  src: url('./fonts/SF Pro Rounded/SF-Pro-Rounded-Light.woff2') format('woff2');
  font-weight:300;
}

@font-face {
  font-family:'SF Pro Rounded';
  src: url('./fonts/SF Pro Rounded/SF-Pro-Rounded-Regular.woff2') format('woff2');
  font-weight:400;
}

@font-face {
  font-family:'SF Pro Rounded';
  src: url('./fonts/SF Pro Rounded/SF-Pro-Rounded-Medium.woff2') format('woff2');
  font-weight:500;
}

@font-face {
  font-family:'SF Pro Rounded';
  src: url('./fonts/SF Pro Rounded/SF-Pro-Rounded-Semibold.woff2') format('woff2');
  font-weight:600;
}

@font-face {
  font-family:'SF Pro Rounded';
  src: url('./fonts/SF Pro Rounded/SF-Pro-Rounded-Bold.woff2') format('woff2');
  font-weight:700;
}

* {
  scrollbar-width:none;
}

body {
  font-family:'SF Pro', 'SF Pro Rounded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}